<div class="row mt-5">

  <div class="col-4" *ngFor="let product of users">
    <h3>
        <a [title]="product.name + 'details'">
          {{product.descripcion}}
        </a>

        <p *ngIf="product.description">
          Description: {{ product.description }}
        </p>

        <button (click)="share()">
          Share
        </button>
    </h3>
  </div>

</div>
